option_settings:
  aws:elasticbeanstalk:command:
    Timeout: 2000
  aws:elasticbeanstalk:application:environment:
    RAILS_ENV: production
    RACK_ENV: production
    BUNDLE_PATH: "vendor/bundle"
    BUNDLE_WITHOUT: "test:development"
    RAILS_SKIP_MIGRATIONS: true
    RAILS_SKIP_ASSET_COMPILATION: true
    LOGGING: debug

packages:
  yum:
    git: []
    curl: []
    openssl-devel: []
    postgresql15-devel: []

commands:
  00_puma_socket_dir:
    command: "sudo mkdir -p /var/run/puma && sudo chown webapp:webapp /var/run/puma"
  01_install_node:
    cwd: /tmp
    command: "curl --silent --location https://rpm.nodesource.com/setup_18.x | sudo bash - && sudo yum install -y nodejs"
  02_install_yarn:
    cwd: /tmp
    test: '[ ! -f /usr/bin/yarn ]'
    command: "sudo npm install -g yarn"
  03_setup_dirs:
    command: |
      sudo mkdir -p /home/webapp /var/app/current/log/
      sudo chown -R webapp:webapp /home/webapp /var/app/current/
      sudo chmod 0755 /home/webapp

container_commands:
  01_nokogiri:
    command: "bundle config build.nokogiri --use-system-libraries"
  02_bundle_install:
    command: "bundle install --jobs 4 --retry 3"
  03_yarn_install:
    command: "yarn install --frozen-lockfile --production"
  04_assets:
    command: "NODE_ENV=production bundle exec rails assets:precompile && NODE_ENV=production bundle exec rails webpacker:compile"
  05_db_migrate:
    command: "bundle exec rails db:migrate"
    leader_only: true